@media (max-width: 991px) {
    * {
        cursor: default;
    }
}

@media screen and (max-width: 1400px) {
    .gap-5-line > * {
        padding-bottom: 5em;
        gap: 5em;
        border-bottom: 5px solid var(--secondary-color);
    }
    .header-title {
        font-size: 42px !important;
    }
    .header-subtitle {
        font-size: 18px !important;
    }
    .button {
        font-size: 17px !important;
    }

    .skill-card-content {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 1200px) {
    
    .box-primary {
        padding: 2px;
    }

    .education-chronologic > .left {
        left: 0;
        left: 150px;
    }

    .left::after, .right::after {
        display: none;
    }
    .education-chronologic > .left > .timeline-circle {
        right: 225px;
        left: auto;
    }

    .professional-chronologic > .right {
        left: -150px;
    }

    .professional-chronologic > .right::after {
        display: none;
    }
    .professional-chronologic > .right > .timeline-circle {
        left: 113%;
        right: auto;
    }
    
    .card {
        font-size: .8em !important;
    }
    .header-title {
        font-size: 52px !important;
    }
    .header-subtitle {
        font-size: 18px !important;
    }
    .button {
        font-size: 18px !important;
    }

    .small-screen-hide {
        display: none;
    }

    h6 {
        font-size: 0.8em;
    }

    .status-icon {
        width: 10px !important;
        height: 10px !important;
    }

    .skill-card-content {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 991px) {

    .card {
        width: 80% !important;
    }

    .box-primary {
        padding: 2px;
    }

    .line {
        display: none;
    }

    .left {
        left: auto !important;
    }

    .right {
        position: relative !important;
        left: auto !important;
    }

    .timeline-circle {
        right: auto !important;
        top: -20px !important;
        left: -30px !important;
    }

    .gap-5-line {
        gap: 5em;
    }

    .gap-5-line > * {
        padding-bottom: 5em;
        border-bottom: 5px solid var(--secondary-color);
    }

    .mb-10 {
        margin-bottom: 1em;
    }
    .circles {
        display: none;
    }
    .small-screen-hide {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    section.inverted {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .image-container {
        animation: none;
    }

    .image-container > img{
        animation: none;
        margin-top: 30px;
        padding: 50px;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .buttons-section {
        margin-top: 25px;
        gap: 15px;
        margin-bottom: 25px;
    }

    * {
        text-align: center;
    }
    
    #cursor {
        display: none;
    }
}
