@media screen and (max-width: 1400px) {
    .header-title {
        font-size: 42px;
    }
}

@media screen and (max-width: 991px) {
    .circles {
        display: none;
    }
    .small-screen-hide {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    section.inverted {
        flex-direction: column-reverse;
    }

    .image-container {
        animation: none;
    }

    .image-container > img{
        animation: none;
        margin-top: 30px;
        padding: 50px;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .buttons-section {
        margin-top: 25px;
        gap: 15px;
        margin-bottom: 25px;
    }

    * {
        text-align: center;
    }
}

    #cursor {
        display: none;
    }
}
